.library-container-fluid {
    background-color: #f7f7f7;
    min-height: 100vh;
    width : 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .library-heading.d-flex{
    color: black;
  }
  .library-text {
    color:rgba(0, 0, 0, 0.664);

  }
  .shadow-lg {
    width: 85%;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .library-header {
    background-color: black ;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border-radius: 10px 10px 0 0;
  }
 
  
  .library-title {
    font-size: 18px;
    margin-top: 15px;
  }
  
  .library-text {
    font-size: 16px;
    margin-top: 5px;
  }
  .library-text {
    color: rgba(0, 0, 0, 0.782);
  }